@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme {
    --font-clicker: "Clicker Script", cursive;
    --font-poppins: "Poppins", sans-serif;
    --color-bgblack900: #f2f2fc;
    --color-bgblack100: #fdf9ff;
    --color-bgblack50: #e8dfec;
    --color-textblack900: #302e4d;
    --color-textblack700: #504e70;
    --color-skin: #ec1839;
}
/* home */
.a-before::before{
  @apply content-[''] absolute w-[20px] h-[20px] border-b-[5px] border-l-[5px] border-skin bottom-0 left-0;
}
.a-before::after{
  @apply content-[''] absolute w-[20px] h-[20px] border-t-[5px] border-r-[5px] border-skin top-0 right-0;
}
.span-before::before{
  @apply content-[''] h-[2px] w-[18px] bg-skin absolute top-[-6px] left-0;
}
.span-before::after{
  @apply content-[''] h-[2px] w-[18px] bg-skin absolute top-[6px] left-0;
}
.img-after::after{
  @apply content-[''] size-[80px] absolute right-[20px] bottom-[-40px] border-b-[10px] border-r-[10px] border-solid border-skin;
}
.img-after::before{
  @apply content-[''] size-[80px] absolute left-[20px] top-[-40px] border-t-[10px] border-l-[10px] border-solid border-skin;
}

/* about */
.h2-before::before{
  @apply content-[''] absolute w-[50px] h-[4px] top-full left-0 bg-skin;
}
.h2-before::after{
  @apply content-[''] absolute w-[25px] h-[4px] top-full left-0 bg-skin !mt-[8px];
}
.tlitem-before::before{
  @apply content-[''] absolute w-[1px] h-full top-0 left-[7px] bg-skin;
}

.theme-dark{
  --color-bgblack900: #151515;
  --color-bgblack100: #222222;
  --color-bgblack50: #393939;
  --color-textblack900: #ffffff;
  --color-textblack700: #ffffff;
}
body {
  line-height: 1.5;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before, ::after{
  box-sizing: border-box;
}

